1) http://prntscr.com/nccmf9 - не должно быть тут разных классов -->
<!-- 2) http://prntscr.com/nccms3 - всегда делим на 3 основных блока -->
<!-- 3) footer-item - хотя бы footer-link назови -->
<!-- 4) <h1 class="intro-head">Intro</h1> почему это h1? У тебя есть заголовок где так и написано - Primary title. -->
<!-- 5) в колонке должна быть карточка. У тебя в колонке лежат составляющие карточки -->
<!-- 6) description сокращается descr -->
<!-- 7) Mountains это не описание -->
<!-- 8) перестань писать margin: auto; пиши 0 auto если не задействуешь вертикальный -->
<!-- 9) .footer ширина не нужна -->
<!-- 10) .column не может быть у колонки margin!!! -->
<!-- 11) .intro-head не по центру. Ты не поставишь его по центру с помощью position -->
<!-- 12) http://prntscr.com/nccr1x - фон повторяется и не зафиксирован -->
<!-- 13) pattern.png надо для всей страницы -->
<!-- 14) зачем color: black;? -->
<!-- 15) http://prntscr.com/nccsp7 - длинное название липнет справа -->
<!-- 16) на описании карточки используй хоть какой то line-height -->
<!-- 17) .card-button не соответствует по требованиям тому что я говорил о кнопке -->
<!-- 18) http://prntscr.com/ncctm1 - область нажатия не должна быть только по контенту. Еще раз говорю за статью - https://material.io/design/components/buttons.html# -->
<!-- 19) http://prntscr.com/nccuir - между кнопками неконтролируемый белый пробел -->
<!-- 20) .button не соответствует по требованиям тому что я говорил о кнопке -->
<!-- 21) tab для меню в шапке это плохое название -->

<!-- 1) проверить еще раз мануал к выполнению задания: с описания д/з и черновика -->
<!-- 2) проверить валидацию -->
<!-- 3.1) задать свойства для card - перенести свойства из составляющей карточки -->
<!-- 3.2) задать свойства для content -->
<!-- 4) по второму замечанию подумать - как лучше разместить надпись и в каком блоке -->
<!-- 5) еще раз пройтись по замечаниям препода -->
<!-- 6) проверить чтобы мой проект был как на картинке с д/з -->
<!-- 7) сверить мое д/з с тем, что было на предпоследнем видео -->
8) посмотреть все видео по последней лекции - как делать обе домашки
9) по двум видео добавить в блокнот новую информацию
<!-- 10) .card-button и .button не соответствует по требованиям тому что я говорил о кнопке -->
<!-- 11) убрать лишние комменты с index и style -->
<!-- 12) черновик почитать с лекции №6, там важные комменты по д/з -->
13) исправить третью домашку