*, :before, :after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  color: #444;
  font-family: Roboto, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.list {
  margin: 20px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}
.line {
  border: 1px solid silver;
  padding: 5px;
}
.line:not(:first-child) {
  border-top: none;
}
.line:after {
  content: "";
  display: block;
  clear: both;
}
.first-descr:before {
  content: "";
  display: inline-block;
  background-image: url("../images/sprite.png");
  height: 40px;
  width: 40px;
  background-position: -60px -220px;
  background-repeat: no-repeat;
  vertical-align: middle;
}
.second-descr:before {
  content: "";
  display: inline-block;
  background-image: url("../images/sprite.png");
  height: 40px;
  width: 40px;
  background-position: -221px -285px;
  background-repeat: no-repeat;
  vertical-align: middle;
}
.third-descr:before {
  content: "";
  display: inline-block;
  background-image: url("../images/sprite.png");
  height: 40px;
  width: 40px;
  background-position: -28px -93px;
  background-repeat: no-repeat;
  vertical-align: middle;
  float: left;
}
.descr {
  display: inline-block;
}
.third-descr {
  display: inline;
}
.status {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  text-align: center;
  background-color: red;
  padding: 0 5px;
  border-radius: 3px;
  color: white;
  float: right;
  margin-top: 8px;
  margin-right: 8px;
}
.approved-status {
  background-color: mediumseagreen;

}
.pending-status {
  background-color: darkorange;
}
.error-status {
  margin: 8px;
}

.circle {
  border-radius: 120px;
  height: 200px;
  width: 200px;
  margin: 0 auto;
  background-image: repeating-linear-gradient(45deg, #e4c2e4, #e4c2e4, rgba(120,10,120,0.05)3px, rgba(120,10,120,0.05)6px), repeating-linear-gradient(-45deg, #e4c2e4, #e4c2e4, rgba(120,10,120,0.05)3px, rgba(120,10,120,0.05)6px);
  box-shadow: inset -10px -10px 0px 0px rgba(210, 18, 18, 0.5), inset 0 -10px 0px 0px rgba(42, 18, 228, 0.5), inset 10px -10px 0px 0px rgba(224, 239, 22, 0.5), inset 10px 0px 0px 0px rgba(22, 232, 239, 0.5), inset 10px 10px 0px 0px rgba(239, 22, 199, 0.5), inset 0px 10px 0px 0px rgba(27, 230, 11, 0.5), inset -10px 10px 0px 0px rgba(230, 192, 11, 0.5), inset -10px 0px 0px 0px rgba(18, 11, 230, 0.5);
}
